.aboutM-content .right-1{
    width: 100%;
    align-items: center;
}
.aboutM-content .right-1 .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 5px;
    color: var(--font-color-sobre-text);
}
.aboutM .aboutM-content .right-1 p strong{
    font-weight: 600;
    text-decoration: underline;
}

.aboutM-content .right-1 .text span{
    color: var(--cor-pri);
}
.aboutM-content .right-1 .text strong{
    color: var(--cor-pri-header);
    background-color: var(--cor-linha-title);
    font-weight: 500;
}
.aboutM-content .right-1 p{
    color: var(--font-color-sobre-text);
    transition: background .5s ease;
    text-align: justify;
}