.homeP{
    display: flex;
    /* background: url(../img/background-for-wine-company-issues-session-.png) no-repeat; */
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.10)), url(../../../public/img/city-background.png);
    background-size: cover;
    height: 100vh;/* TAMANHO DO BACKGROND */
    color: var(--font-color-home-text);
    min-height: 500px;
    font-family: var(--font-fam);
}
.homeP .max-width{
    margin: auto;
}

.homeP .homeP-content .text-2P{
    font-size: 75px;
    font-weight: 500;
    text-align: center;
}
.homeP .homeP-content .text-3P{/* descrições */
    font-size: 33px;
    text-align: center;
}

section .title3{
    font-family: var(--font-fam);
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title3::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 3px;
    background: var(--cor-pri); /* __ XXXX __ */
    transform: translateX(-50%);
}
section .title3::after{
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: var(--cor-sec);
    color: var(--cor-pri);
    padding: 5px;
    transform: translateX(-50%);
}
/* Imagem das cidades */
.about .about-content .left .aquarela{
    margin-left: 10vh;
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 6px;
    transition: transform 0.5s ease;
}
.about .about-content .left .aquarela:hover{
    transform: scale(1.2);
}

.about .title3{
    color: var(--font-color-sobre-text);
}
.about .title3::after{
    content: " Axion Green  ";
    background-color: var(--cor-section);
    transition: background .4s;
}
/*  responsivo  */
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .left img{
        width: 350px;
        height: 350px;
    }
    .about .about-content .left .aquarela{
        margin-left: 10vh;
        width: 300px;
        height: 200px;
        object-fit: cover;
        border-radius: 6px;
        transition: transform 0.5s ease;
    }
    .about .about-content .left .aquarela:hover{
        transform: scale(1.2);
    }
}
@media (max-width: 991px){
    .navbar .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .max-width{
        max-width: 800px;
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: var(--cor-ter);
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .homeP .homeP-content .text-2{
        font-size: 70px;
    }
    .homeP .homeP-content .text-3{
        font-size: 35px;
    }
    .homeP .homeP-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    
    .about .about-content .column{
        width: 50%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .about .about-content .left .aquarela{
        margin-left: 10vh;
        width: 400px;
        height: 300px;
        object-fit: cover;
        border-radius: 6px;
        transition: transform 0.5s ease;
    }
    .about .about-content .left .aquarela:hover{
        transform: scale(1.2);
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
    footer{
        margin-top: 15px;
    }
}
@media (max-width: 690px){
    .homeP .homeP-content .text-2{
        font-size: 60px;
    }
    .homeP .homeP-content .text-3{
        font-size: 32px;
    }
    .homeP .homeP-content a{
        font-size: 20px;
    }
    .services .serv-content .card {
        width:100%;
    }
}
@media (max-width: 500px){
    .homeP .homeP-content .text-2{
        font-size: 50px;
    }
    .homeP .homeP-content .text-3{
        font-size: 27px;
    }
}