
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html{
  scroll-behavior: smooth;
}
.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}

hr{
  background-color: var(--cor-section);
  height: 40px;
  border: none;
  transition: background .4s ease;
}
header{
  background:linear-gradient(to right, var(--cor-pri-header), var(--cor-section));
  padding: 5px;
  font-family: var(--font-fam);
  color: var(--font-color-sobre-text);
  list-style: none;
  text-align: center;
}
header ul{
  margin: 0;
  padding: 3px;
}
header li{
  display: inline-block;
  margin: 0 10px;
  
}
header li a {
  color: var(--font-color-sobre-text);
  
}
header li a:hover {
  transition: .3s ease;
  color: var(--cor-set);
}